/*  your css code here. If applicable */
.imageContainer{
	width : 1100px;
	height : 1100px;
	background-color : #CBD6CB;
}

.architect{
	width : 400px;
	margin : 5px 10px;
}
.first-last{
	width : 200px;
	margin : 10px;
}
.text-wrap{
  inline-size: 15px;
  overflow-wrap: break-word;
}